<html>
<head>

<title>Contact</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="public/stylesheets/styles.css">
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic|Merriweather:400italic,400,900,300italic,300,700,700italic,900italic' rel='stylesheet' type='text/css'>

<link rel="apple-touch-icon" sizes="57x57" href="/images/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="60x60" href="/images/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-touch-icon-76x76.png">
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/images/browserconfig.xml">


</head>
<body>

<div class="gd-center">
<div class="header">
	<div class="labels">
		<h3>Contact</h3>
		<p class="highlight">[ Charles Perrone ]</p>
	</div>
	<ul class="nav">
		<li><a href="/">HOME</a></li>
		<li><a href="projects.html">PROJECTS</a></li>
		<li><a href="music.html">MUSIC</a></li>
	</ul>
</div>

<div class="welcome gd-8">
	<h4 style="font-weight: 400">I'm currently residing in <span style="color: #bbb; font-weight: 600">Boston</span></h4>

	<p>I'd love to hear from you. If you have any questions,
	comments or would like to work with me, please feel
	free to contact me at my email address using the form
	below.</p>

	<br><br>

	<h5 style="color: white">You can view or download my most current resume <a class="resume" href="media/resume.pdf" target="_blank">here</a></h5>

	<div class="custom-tabs">
	<a  class="social-links"
    href="https://github.com/chperrone" 
    target"_blank">
	
		<div class="icon github"></div>
		<div class="tag"><p>see me on <span>Github</span></p></div>
	</a>

	<a  class="social-links" 
		href="http://www.linkedin.com/pub/charles-perrone/69/167/7ab/" 
		target="_blank">

		<div class="icon linkedin"></div>
		<div class="tag"><p>view my <span>Linkedin</span></p></div>
	</a>
</div>

<div class="email-form" style="clear: both">
	<form action="demo_form.asp">
		Your Name: <br>
		<input type="text" name="fname"><br>
		Your Email: <br>
		<input type="text" name="email"><br>
		Your Message: </br>
		<textarea rows="4" cols="50"></textarea><br>
		<input type="submit" value="Submit">
	</form>
</div>
</div>

</div>

<!---Provides some space between the footer and the other content -->
<div class="push"></div>

<div class="footer">
<div class="gd-center">
	<p>
	Copyright: Charles Perrone<br>
All Rights Reserved 2014
</p>
</div>
</div>
	
</body>
</html>