<html>
<head>

<title>Projects</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="public/stylesheets/styles.css">
<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic|Merriweather:400italic,400,900,300italic,300,700,700italic,900italic' rel='stylesheet' type='text/css'>

<link rel="apple-touch-icon" sizes="57x57" href="/images/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="60x60" href="/images/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-touch-icon-76x76.png">
<link rel="shortcut icon" href="/images/favicon.ico">
<link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/images/browserconfig.xml">


</head>
<body>

<div class="gd-center">
<div class="header">
	<div class="labels">
		<h3>Projects</h3>
		<p class="highlight">[ Charles Perrone ]</p>
	</div>
	<ul class="nav">
		<li><a href="/">HOME</a></li>
		<li><a href="/projects">PROJECTS</a></li>
	</ul>
</div>

<div class="projects">
	<div class="a-project">
		<h4>Modern Comedy Exhibit</h4>
		<p>This project was done in a Web Development and Design course led by Alex Turnwall, an accomplished freelance designer and web developer. The topic was this: create an interactive and immersive online museum exhibit that teaches people about a topic of your choice. For my topic, I chose modern stand-up comedy. I led people through 5 decades, discussing the major events, clubs, and stand-ups that were around.</p>
		<div class="two-images">
			<img src="public/images/comedy1.png">
			<img id="last" src="public/images/comedy2.png">
		</div>

		<p>The process started through research and intense wireframing. I think I made about 6 versions of the site before I finally settled on the final project, and even then the specific layout and look was further tweaked</p>

		<p>I knew that I didn't just want to create a static webpage that simply listed text and a few pictures. I wanted to excite the eye and constantly draw it to different parts of the page. I decided to do this by including different types of content: many headers and type sizes, varied colors, videos, custom widgets and pictures.</p>

		<p>I also created modal pop up windows for particular comedians of the decade that included more verbose information about them, quotes, videos and pictures.</p>

		<p>To finish, I let people view a grid of some of the most prolific comedians from all of the decades. Again, modal windows were used to present famous bits and quotes from them.</p>

		<div class="two-images">
			<img src="public/images/comedy3.png">
			<img src="public/images/comedy4.png">
		</div>

		<p>I was really happy with how this site turned out. It stayed very true to my original vision of how an exhibit should look and was effectively engaging for a viewer. Colors popped, content was interesting and I ended up learning a lot in the process.</p>
	</div>

	<div class="a-project">
		<h4>SoundToy</h4>
		<p>This was a strange little project which was inspired by sleep, generative music and Brian Eno. I wanted to create a tool that I could use to play gentle, soothing music while I fell asleep but I also wanted to have a say in the specific sounds and pace of the piece</p>

		<p>I set out with the idea that playing samples at specific rates and if you varied these rates between samples, you would end up with beautiful, generative ambient music.</p>

		<p>So I did just that! Recording a few different sounds, I loaded them up into the soundtoy and played them at different intervals, animating them on a virtual track. The result was soothing to my ears and looked visually interesting</p>

		<div class="two-images">
			<img src="public/images/tonegen.png">
		</div>

		<p>I consider this SoundToy Version 1... It is imperfect and not designed properly. I intend to expand upon this project, adding more sounds, allowing users to play more with the interaction between samples and offer a sleeker interface. But it's a good step.</p>
	</div>
</div>

</div>

<!---Provides some space between the footer and the other content -->
<div class="push"></div>

<div class="footer">
<div class="gd-center">
	<p>
	Copyright: Charles Perrone<br>
All Rights Reserved 2014
</p>
</div>
</div>
	
</body>
</html>